h1{
    text-align: center;
    color: rgb(20, 19, 19);
}
.box{
    height: 300px;
    width: 500px;
    background-color: rgb(216, 216, 216);
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
body{
    background-color: rgb(211, 168, 250);
}
.time{
    font-size: 4em;
    margin-bottom: 30px;
}
.controls{
    height: 50px;
    width: 70px;
    justify-content: center;
    margin: auto;
    display: flex;
}

.rah{

    color: rgb(10, 10, 9);
    font-size: large;
    text-align: center;
    margin: 15px;
    padding-bottom: 45px;
    
}
